html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	padding-top: 50px;
	background-color:white;
}

.theme-showcase .container {
	padding-top: 40 px;
	width: auto;
}

.theme {
	padding: 40px 15px;
	text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set fixed height of footer here */
	height: 60px;
	background-color: #fcfcfc;
}

.jumbotron {
	background-color:#ffffff;
	color:black;
}
